In [1]:
import pandas as pd

df = pd.read_csv('pp_train.csv')
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_War,is_Horror,is_Animation,fill_runtimeMinutes,is_from_Oceania,is_from_North America,is_from_South America,is_from_Asia,is_from_Africa,is_from_Europe
0,Neogenic Nightmare Chapter 3: Hydro-Man,8,1995,1995.0,NaN,0.0,779,1,0,21,...,0,0,1,40.0,0,1,0,0,0,0
1,Looping,6,1982,1982.0,NaN,0.0,11,1,0,1,...,0,0,0,28.0,0,0,0,0,0,1
2,Idealnaya para,6,1992,1992.0,NaN,0.0,38,1,0,24,...,0,0,0,90.0,0,0,0,0,0,1
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,0,0,0,31.0,0,1,0,0,0,0
4,Seutateueob,8,2020,2020.0,80.0,1.0,15718,347,2,47,...,0,0,0,80.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,6,1942,1942.0,NaN,0.0,73,4,0,45,...,0,0,0,90.0,0,0,0,0,0,1
16427,Haar Jeet,5,1990,1990.0,NaN,0.0,15,2,0,22,...,0,0,0,90.0,0,0,0,1,0,0
16428,Kotigobba 3,6,2021,2021.0,140.0,0.0,2560,39,3,129,...,0,0,0,140.0,0,0,0,1,0,0
16429,Ator l'invincibile,4,1982,1982.0,NaN,0.0,3011,52,1,53,...,0,0,0,90.0,0,0,0,0,0,1
16430,Anniversary Night,10,2022,2022.0,NaN,0.0,9,7,0,19,...,0,0,0,12.0,0,0,0,1,0,0

In [2]:
df.columns

Index(['originalTitle', 'rating', 'startYear', 'endYear', 'runtimeMinutes',
       'awardWins', 'numVotes', 'totalImages', 'totalVideos', 'totalCredits',
       'criticReviewsTotal', 'titleType', 'awardNominationsExcludeWins',
       'canHaveEpisodes', 'isAdult', 'numRegions', 'userReviewsTotal',
       'is_Documentary', 'is_History', 'is_Adventure', 'is_Thriller',
       'is_Game-Show', 'is_Comedy', 'is_Sci-Fi', 'is_Romance', 'is_Biography',
       'is_Musical', 'is_Western', 'is_Music', 'is_Film-Noir', 'is_Adult',
       'is_Reality-TV', 'is_News', 'is_Action', 'is_Crime', 'is_Short',
       'is_Fantasy', 'is_Family', 'is_Mystery', 'is_Talk-Show', 'is_Drama',
       'is_Sport', 'is_War', 'is_Horror', 'is_Animation',
       'fill_runtimeMinutes', 'is_from_Oceania', 'is_from_North America',
       'is_from_South America', 'is_from_Asia', 'is_from_Africa',
       'is_from_Europe'],
      dtype='object')