In [21]:
import pandas as pd
import numpy as np

from constants import*
from constants import numeric_columns as num_cols

In [22]:
train_df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,titleType,awardNominationsExcludeWins,canHaveEpisodes,isRatable,isAdult,numRegions,userReviewsTotal,ratingCount,countryOfOrigin,genres
0,Neogenic Nightmare Chapter 3: Hydro-Man,"(7, 8]",1995,<NA>,<NA>,0,779,1,10,1,...,tvEpisode,0,False,True,0,1,0,781,['US'],"Action,Adventure,Animation"
1,Looping,"(5, 6]",1982,<NA>,<NA>,0,11,1,10,1,...,videoGame,0,False,True,0,1,0,11,['XWG'],Action
2,Idealnaya para,"(5, 6]",1992,<NA>,<NA>,0,38,1,10,1,...,movie,0,False,True,0,1,1,38,['RU'],Comedy
3,MasterChef Celebrity MÃ©xico,"(5, 6]",2021,<NA>,<NA>,0,15,1,10,22,...,tvSeries,0,True,True,0,1,0,15,['MX'],Reality-TV
4,Seutateueob,"(7, 8]",2020,2020,80,1,15718,1,10,347,...,tvSeries,1,True,True,0,32,452,15746,['KR'],"Comedy,Drama,Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,"(5, 6]",1942,<NA>,<NA>,0,73,1,10,4,...,movie,0,False,True,0,14,4,73,['FR'],Comedy
16427,Haar Jeet,"(4, 5]",1990,<NA>,<NA>,0,15,1,10,2,...,movie,0,False,True,0,1,1,15,['IN'],"Action,Drama,Thriller"
16428,Kotigobba 3,"(5, 6]",2021,<NA>,140,0,2560,1,10,39,...,movie,5,False,True,0,5,49,2560,['IN'],"Action,Drama,Romance"
16429,Ator l'invincibile,"(3, 4]",1982,<NA>,<NA>,0,3011,1,10,52,...,movie,0,False,True,0,26,58,3012,['IT'],"Action,Adventure,Fantasy"
16430,Anniversary Night,"(9, 10]",2022,<NA>,<NA>,0,9,1,10,7,...,short,0,False,True,0,1,0,9,['IN'],"Drama,Short"

In [23]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16431 entries, 0 to 16430
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   originalTitle                16431 non-null  object
 1   rating                       16431 non-null  object
 2   startYear                    16431 non-null  Int64
 3   endYear                      814 non-null    Int64
 4   runtimeMinutes               11579 non-null  Int64
 5   awardWins                    13813 non-null  Int64
 6   numVotes                     16431 non-null  Int64
 7   worstRating                  16431 non-null  Int64
 8   bestRating                   16431 non-null  Int64
 9   totalImages                  16431 non-null  Int64
 10  totalVideos                  16431 non-null  Int64
 11  totalCredits                 16431 non-null  Int64
 12  criticReviewsTotal           16431 non-null  Int64
 13  titleType                    16431 non-null  object
 14  awardNominationsExcludeWins  16431 non-null  Int64
 15  canHaveEpisodes              16431 non-null  bool
 16  isRatable                    16431 non-null  bool
 17  isAdult                      16431 non-null  int64
 18  numRegions                   16431 non-null  Int64
 19  userReviewsTotal             16431 non-null  Int64
 20  ratingCount                  16431 non-null  Int64
 21  countryOfOrigin              16431 non-null  object
 22  genres                       16049 non-null  object
dtypes: Int64(15), bool(2), int64(1), object(5)
memory usage: 2.9+ MB

DUPLICATES

In [24]:
train_df.duplicated().sum()

0

In [25]:
#CON IL COMPLETE C'ERANO DUPLICATI E LI ABBIAMO TOLTI


#complete_df[complete_df.duplicated()]-> li mostra se ci sono
#complete_df[complete_df["originalTitle"] == "Nick Jonas/Dennis Rodman/Jeezy/Tory Lanez"]

In [26]:
#complete_df = complete_df.drop(index=7341)

In [27]:
#complete_df.duplicated().sum()

MISSING VALUES (1)

In [28]:
train_df.isnull().sum()

originalTitle                      0
rating                             0
startYear                          0
endYear                        15617
runtimeMinutes                  4852
awardWins                       2618
numVotes                           0
worstRating                        0
bestRating                         0
totalImages                        0
totalVideos                        0
totalCredits                       0
criticReviewsTotal                 0
titleType                          0
awardNominationsExcludeWins        0
canHaveEpisodes                    0
isRatable                          0
isAdult                            0
numRegions                         0
userReviewsTotal                   0
ratingCount                        0
countryOfOrigin                    0
genres                           382
dtype: int64

SEMANTIC - SYNTACTIC INCONSISTENCE

In [29]:
#verifico di che tipo sono i singoli valori di una colonna in cui \N' Ã¨ usato al posto di NaN 
val = train_df.loc[0,"endYear"]
type(val)
#val

pandas._libs.missing.NAType

In [30]:
# individuo le colonne in cui'\N' Ã¨ usato al posto di NaN e conto quante volte
for colonna in train_df.columns:
    if  r"\N" in train_df[colonna].values:
        count = (train_df[colonna] ==  r"\N").sum()
        print(colonna, count)

C:\Users\noemi\AppData\Local\Temp\ipykernel_14908\3263650284.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  r"\N" in train_df[colonna].values:

In [31]:
#uniformo assegnando NaN a tutti i valori nulli
for col in num_cols:
    #Converts the values in column col to numeric types (e.g., int, float). 
    # #If a value cannot be converted  (e.g., invalid strings), it is replaced with NaN (missing value).
    train_df[col] = pd.to_numeric(train_df[col], errors='coerce')

    #abbiamo trasformato i valori numerici in interi e non float (con Int64 accetta i Nan)
    train_df[col] = train_df[col].astype('Int64')

train_df.loc[train_df["genres"] == r"\N", "genres"] = np.nan

In [32]:
#verifico se la sotituzione Ã¨ andata a buon fine e conto Nan
train_df.isnull().sum()

originalTitle                      0
rating                             0
startYear                          0
endYear                        15617
runtimeMinutes                  4852
awardWins                       2618
numVotes                           0
worstRating                        0
bestRating                         0
totalImages                        0
totalVideos                        0
totalCredits                       0
criticReviewsTotal                 0
titleType                          0
awardNominationsExcludeWins        0
canHaveEpisodes                    0
isRatable                          0
isAdult                            0
numRegions                         0
userReviewsTotal                   0
ratingCount                        0
countryOfOrigin                    0
genres                           382
dtype: int64

MISSING VALUES (2)

In [33]:
#calcolo le percentuali di missing values nelle colonne
missing_percentage = (train_df.isna().sum() / len(train_df)) * 100
print(missing_percentage)

originalTitle                   0.000000
rating                          0.000000
startYear                       0.000000
endYear                        95.045950
runtimeMinutes                 29.529548
awardWins                      15.933297
numVotes                        0.000000
worstRating                     0.000000
bestRating                      0.000000
totalImages                     0.000000
totalVideos                     0.000000
totalCredits                    0.000000
criticReviewsTotal              0.000000
titleType                       0.000000
awardNominationsExcludeWins     0.000000
canHaveEpisodes                 0.000000
isRatable                       0.000000
isAdult                         0.000000
numRegions                      0.000000
userReviewsTotal                0.000000
ratingCount                     0.000000
countryOfOrigin                 0.000000
genres                          2.324874
dtype: float64

INCOMPLETE ROWS (?)

In [34]:
#forse non serve perchÃ¨ verifica che non ci siano righe vuote 
#(in teoria lo sappiamo giÃ  perchÃ¨ ci sono solo 4 colonne con NaN values)
incomplete_rows = train_df[train_df.isna().all(axis=1)]
print(incomplete_rows)

Empty DataFrame
Columns: [originalTitle, rating, startYear, endYear, runtimeMinutes, awardWins, numVotes, worstRating, bestRating, totalImages, totalVideos, totalCredits, criticReviewsTotal, titleType, awardNominationsExcludeWins, canHaveEpisodes, isRatable, isAdult, numRegions, userReviewsTotal, ratingCount, countryOfOrigin, genres]
Index: []

[0 rows x 23 columns]

RICERCA COLONNE CON VALORI CHE NON SERVONO, EVENTUALMENTE DA DROPPARE

Best e Worst Rating

In [35]:
#best rating Ã¨ sempre 10, worst rating Ã¨ sempre 1
if 10 in train_df["bestRating"].values:
        count = (train_df["bestRating"] == 10).sum()
        print(count)

train_df["bestRating"].unique()

16431

<IntegerArray>
[10]
Length: 1, dtype: Int64

Is Ratable -> sono tutti ratable (codice anche in "data_exploration_noemi")

In [36]:
grouped_ratable = train_df.groupby('isRatable').count()
grouped_ratable["originalTitle"]

isRatable
True    16431
Name: originalTitle, dtype: int64

Original Title che non sono unici

In [37]:

x =train_df["originalTitle"].unique()
print(len(x))
#lunghezza array titoli unici; non corrisponde a num tot di record
#quindi ci sono tot titoli ripetuti; quali, quanti e perchÃ¨?

16054

TITOLI RIPETUTI: quante volte titolo x si ripete

In [38]:

valori_ripetuti = train_df['originalTitle'].value_counts()
valori_ripetuti 
#valori_ripetuti[330:335]

originalTitle
Episode #1.1            34
Episode #1.3            23
Episode #1.4            19
Pilot                   18
Episode #1.2            15
                        ..
CorazÃ³n de niÃ±o          1
The Guinea Pig           1
Christmas Club Books     1
A Stranger Kind          1
Anniversary Night        1
Name: count, Length: 16054, dtype: int64

In [39]:
pilot_OT_index= train_df[train_df["originalTitle"] == "Pilot"].index
pilot_OT_index

Index([  312,  1313,  1770,  2669,  3469,  3689,  3763,  4759,  6906,  7892,
        8880,  9875, 12343, 14896, 15408, 15577, 16178, 16255],
      dtype='int64')

In [40]:
pilot_OT = train_df.loc[pilot_OT_index]
pilot_OT

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,titleType,awardNominationsExcludeWins,canHaveEpisodes,isRatable,isAdult,numRegions,userReviewsTotal,ratingCount,countryOfOrigin,genres
312,Pilot,"(7, 8]",2020,<NA>,47,0,2701,1,10,117,...,tvEpisode,0,False,True,0,1,6,2702,['US'],"Crime,Drama,Mystery"
1313,Pilot,"(7, 8]",2015,<NA>,45,0,5042,1,10,101,...,tvEpisode,0,False,True,0,1,21,5043,['US'],"Action,Adventure,Drama"
1770,Pilot,"(7, 8]",2008,<NA>,45,0,54,1,10,1,...,tvEpisode,0,False,True,0,1,0,54,['US'],Drama
2669,Pilot,"(9, 10]",1996,<NA>,<NA>,0,23,1,10,1,...,tvEpisode,0,False,True,0,1,0,23,['US'],Drama
3469,Pilot,"(7, 8]",2011,<NA>,44,0,271,1,10,3,...,tvEpisode,0,False,True,0,1,2,271,['US'],"Comedy,Crime,Drama"
3689,Pilot,"(8, 9]",2007,<NA>,54,0,861,1,10,2,...,tvEpisode,0,False,True,0,1,4,861,['US'],"Crime,Drama,Mystery"
3763,Pilot,"(7, 8]",2014,<NA>,50,0,247,1,10,1,...,tvEpisode,0,False,True,0,1,0,247,['US'],"Action,Crime,Drama"
4759,Pilot,"(7, 8]",1998,<NA>,23,0,226,1,10,1,...,tvEpisode,0,False,True,0,1,1,226,['US'],"Comedy,Drama,Sport"
6906,Pilot,"(7, 8]",2021,<NA>,57,<NA>,3626,1,10,15,...,tvEpisode,0,False,True,0,2,20,3632,['US'],"Drama,Horror,Mystery"
7892,Pilot,"(6, 7]",1996,<NA>,<NA>,<NA>,67,1,10,1,...,tvEpisode,0,False,True,0,1,1,67,['US'],"Action,Crime,Drama"
8880,Pilot,"(5, 6]",1997,<NA>,<NA>,0,8,1,10,1,...,tvEpisode,0,False,True,0,1,0,8,['US'],Comedy
9875,Pilot,"(8, 9]",1995,<NA>,<NA>,0,14,1,10,0,...,tvEpisode,0,False,True,0,1,0,14,['US'],"Action,Crime,Drama"
12343,Pilot,"(7, 8]",1986,<NA>,<NA>,0,48,1,10,9,...,tvEpisode,0,False,True,0,1,1,48,['US'],Comedy
14896,Pilot,"(6, 7]",2012,<NA>,22,0,228,1,10,1,...,tvEpisode,0,False,True,0,1,0,228,['US'],"Comedy,Family,Romance"
15408,Pilot,"(7, 8]",1971,<NA>,100,0,62,1,10,0,...,tvEpisode,0,False,True,0,1,2,62,['US'],"Crime,Drama"
15577,Pilot,"(9, 10]",2016,<NA>,43,0,7035,1,10,19,...,tvEpisode,0,False,True,0,1,10,7039,['US'],"Comedy,Drama,Romance"
16178,Pilot,"(7, 8]",2015,<NA>,65,0,336,1,10,5,...,tvEpisode,0,False,True,0,1,2,337,['US'],"Drama,Mystery,Thriller"
16255,Pilot,"(4, 5]",2012,<NA>,<NA>,0,57,1,10,18,...,tvEpisode,0,False,True,0,1,2,57,['US'],Comedy