In [692]:
import pandas as pd
import numpy as np

from constants import numeric_columns as num_cols

In [693]:
complete_df = pd.read_csv("complete_df.csv")

In [694]:
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21909 entries, 0 to 21908
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   originalTitle                21909 non-null  object
 1   rating                       21909 non-null  object
 2   startYear                    21909 non-null  int64
 3   endYear                      21909 non-null  object
 4   runtimeMinutes               21909 non-null  object
 5   awardWins                    18404 non-null  float64
 6   numVotes                     21909 non-null  int64
 7   worstRating                  21909 non-null  int64
 8   bestRating                   21909 non-null  int64
 9   totalImages                  21909 non-null  int64
 10  totalVideos                  21909 non-null  int64
 11  totalCredits                 21909 non-null  int64
 12  criticReviewsTotal           21909 non-null  int64
 13  titleType                    21909 non-null  object
 14  awardNominationsExcludeWins  21909 non-null  int64
 15  canHaveEpisodes              21909 non-null  bool
 16  isRatable                    21909 non-null  bool
 17  isAdult                      21909 non-null  int64
 18  numRegions                   21909 non-null  int64
 19  userReviewsTotal             21909 non-null  int64
 20  ratingCount                  21909 non-null  int64
 21  countryOfOrigin              21909 non-null  object
 22  genres                       21909 non-null  object
dtypes: bool(2), float64(1), int64(13), object(7)
memory usage: 3.6+ MB

DUPLICATES

In [695]:
complete_df.duplicated().sum()

1

In [696]:
complete_df[complete_df.duplicated()]

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,titleType,awardNominationsExcludeWins,canHaveEpisodes,isRatable,isAdult,numRegions,userReviewsTotal,ratingCount,countryOfOrigin,genres
16522,Nick Jonas/Dennis Rodman/Jeezy/Tory Lanez,"(6, 7]",2017,\N,41,0.0,26,1,10,1,...,tvEpisode,0,False,True,0,1,0,26,['US'],"Comedy,Talk-Show"

In [697]:
complete_df[complete_df["originalTitle"] == "Nick Jonas/Dennis Rodman/Jeezy/Tory Lanez"]

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,titleType,awardNominationsExcludeWins,canHaveEpisodes,isRatable,isAdult,numRegions,userReviewsTotal,ratingCount,countryOfOrigin,genres
7341,Nick Jonas/Dennis Rodman/Jeezy/Tory Lanez,"(6, 7]",2017,\N,41,0.0,26,1,10,1,...,tvEpisode,0,False,True,0,1,0,26,['US'],"Comedy,Talk-Show"
16522,Nick Jonas/Dennis Rodman/Jeezy/Tory Lanez,"(6, 7]",2017,\N,41,0.0,26,1,10,1,...,tvEpisode,0,False,True,0,1,0,26,['US'],"Comedy,Talk-Show"

In [698]:
complete_df = complete_df.drop(index=7341)

In [699]:
complete_df.duplicated().sum()

0

MISSING VALUES (1)

In [700]:
complete_df.isnull().sum()

originalTitle                     0
rating                            0
startYear                         0
endYear                           0
runtimeMinutes                    0
awardWins                      3505
numVotes                          0
worstRating                       0
bestRating                        0
totalImages                       0
totalVideos                       0
totalCredits                      0
criticReviewsTotal                0
titleType                         0
awardNominationsExcludeWins       0
canHaveEpisodes                   0
isRatable                         0
isAdult                           0
numRegions                        0
userReviewsTotal                  0
ratingCount                       0
countryOfOrigin                   0
genres                            0
dtype: int64

In [701]:
#verifico di che tipo sono i singoli valori di una colonna
val = complete_df.loc[0,"endYear"]
type(val)
#val

str

SEMANTIC - SYNTACTIC INCONSISTENCE

In [702]:
# individuo le colonne in cui'\N' è usato al posto di NaN e conto quante volte
for colonna in complete_df.columns:
    if  r"\N" in complete_df[colonna].values:
        count = (complete_df[colonna] ==  r"\N").sum()
        print(colonna, count)

endYear 20821
runtimeMinutes 6512
genres 503

C:\Users\noemi\AppData\Local\Temp\ipykernel_16240\1658874518.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  r"\N" in complete_df[colonna].values:

In [703]:
#uniformo assegnando NaN a tutti i valori nulli
for col in num_cols:
    complete_df[col] = pd.to_numeric(complete_df[col], errors='coerce')

    #abbiamo trasformato i valori numerici in interi e non float (con Int64 accetta i Nan)
    complete_df[col] = complete_df[col].astype('Int64')

complete_df.loc[complete_df["genres"] == r"\N", "genres"] = np.nan

In [704]:
#verifico se la sotituzione è andata a buon fine e conto Nan
complete_df.isnull().sum()

originalTitle                      0
rating                             0
startYear                          0
endYear                        20821
runtimeMinutes                  6512
awardWins                       3505
numVotes                           0
worstRating                        0
bestRating                         0
totalImages                        0
totalVideos                        0
totalCredits                       0
criticReviewsTotal                 0
titleType                          0
awardNominationsExcludeWins        0
canHaveEpisodes                    0
isRatable                          0
isAdult                            0
numRegions                         0
userReviewsTotal                   0
ratingCount                        0
countryOfOrigin                    0
genres                           503
dtype: int64

MISSING VALUES (2)

In [705]:
missing_percentage = (complete_df.isna().sum() / len(complete_df)) * 100
print(missing_percentage)

originalTitle                   0.000000
rating                          0.000000
startYear                       0.000000
endYear                        95.038342
runtimeMinutes                 29.724302
awardWins                      15.998722
numVotes                        0.000000
worstRating                     0.000000
bestRating                      0.000000
totalImages                     0.000000
totalVideos                     0.000000
totalCredits                    0.000000
criticReviewsTotal              0.000000
titleType                       0.000000
awardNominationsExcludeWins     0.000000
canHaveEpisodes                 0.000000
isRatable                       0.000000
isAdult                         0.000000
numRegions                      0.000000
userReviewsTotal                0.000000
ratingCount                     0.000000
countryOfOrigin                 0.000000
genres                          2.295965
dtype: float64

INCOMPLETE ROWS (?)

In [706]:
#forse non serve perchè verifica che non ci siano righe vuote 
#(in teoria lo sappiamo già perchè ci sono solo tre colonne con NaN values)
incomplete_rows = complete_df[complete_df.isna().all(axis=1)]
print(incomplete_rows)

Empty DataFrame
Columns: [originalTitle, rating, startYear, endYear, runtimeMinutes, awardWins, numVotes, worstRating, bestRating, totalImages, totalVideos, totalCredits, criticReviewsTotal, titleType, awardNominationsExcludeWins, canHaveEpisodes, isRatable, isAdult, numRegions, userReviewsTotal, ratingCount, countryOfOrigin, genres]
Index: []

[0 rows x 23 columns]

ALTRO

In [707]:
#best rating è sempre 10, worst rating è sempre 1
if 10 in complete_df["bestRating"].values:
        count = (complete_df["bestRating"] == 10).sum()
        print(count)

complete_df["bestRating"].unique()

21908

<IntegerArray>
[10]
Length: 1, dtype: Int64

In [708]:
val = complete_df.loc[4,"countryOfOrigin"]
type(val)
#val

str