In [1]:
# from support.df_init import init

# df = init()
# df
import pandas as pd

df = pd.read_csv('pp_train.csv')
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,countryOfOrigin,countryOfOrigin_freq_enc,countryOfOrigin_NA,countryOfOrigin_AF,countryOfOrigin_AS,countryOfOrigin_EU,countryOfOrigin_OC,countryOfOrigin_SA,countryOfOrigin_UNK,fill_runtimeMinutes_Bruno
0,Neogenic Nightmare Chapter 3: Hydro-Man,8,1995,1995.0,NaN,0.0,779,1,0,21,...,['US'],0.397061,1,0,0,0,0,0,0,29.0
1,Looping,6,1982,1982.0,NaN,0.0,11,1,0,1,...,['XWG'],0.013525,0,0,0,0,0,0,1,NaN
2,Idealnaya para,6,1992,1992.0,NaN,0.0,38,1,0,24,...,['RU'],0.007959,0,0,0,1,0,0,0,94.0
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,['MX'],0.013636,1,0,0,0,0,0,0,30.0
4,Seutateueob,8,2020,2020.0,80.0,1.0,15718,347,2,47,...,['KR'],0.009184,0,0,1,0,0,0,0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,6,1942,1942.0,NaN,0.0,73,4,0,45,...,['FR'],0.045973,0,0,0,1,0,0,0,85.0
16427,Haar Jeet,5,1990,1990.0,NaN,0.0,15,2,0,22,...,['IN'],0.034285,0,0,1,0,0,0,0,86.0
16428,Kotigobba 3,6,2021,2021.0,140.0,0.0,2560,39,3,129,...,['IN'],0.034285,0,0,1,0,0,0,0,140.0
16429,Ator l'invincibile,4,1982,1982.0,NaN,0.0,3011,52,1,53,...,['IT'],0.023488,0,0,0,1,0,0,0,94.0
16430,Anniversary Night,10,2022,2022.0,NaN,0.0,9,7,0,19,...,['IN'],0.034285,0,0,1,0,0,0,0,9.0

In [2]:
og_df = pd.read_csv('dm1_dataset_2425_imdb/train.csv')
og_df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,titleType,awardNominationsExcludeWins,canHaveEpisodes,isRatable,isAdult,numRegions,userReviewsTotal,ratingCount,countryOfOrigin,genres
0,Neogenic Nightmare Chapter 3: Hydro-Man,"(7, 8]",1995,\N,\N,0.0,779,1,10,1,...,tvEpisode,0,False,True,0,1,0,781,['US'],"Action,Adventure,Animation"
1,Looping,"(5, 6]",1982,\N,\N,0.0,11,1,10,1,...,videoGame,0,False,True,0,1,0,11,['XWG'],Action
2,Idealnaya para,"(5, 6]",1992,\N,\N,0.0,38,1,10,1,...,movie,0,False,True,0,1,1,38,['RU'],Comedy
3,MasterChef Celebrity México,"(5, 6]",2021,\N,\N,0.0,15,1,10,22,...,tvSeries,0,True,True,0,1,0,15,['MX'],Reality-TV
4,Seutateueob,"(7, 8]",2020,2020,80,1.0,15718,1,10,347,...,tvSeries,1,True,True,0,32,452,15746,['KR'],"Comedy,Drama,Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,"(5, 6]",1942,\N,\N,0.0,73,1,10,4,...,movie,0,False,True,0,14,4,73,['FR'],Comedy
16427,Haar Jeet,"(4, 5]",1990,\N,\N,0.0,15,1,10,2,...,movie,0,False,True,0,1,1,15,['IN'],"Action,Drama,Thriller"
16428,Kotigobba 3,"(5, 6]",2021,\N,140,0.0,2560,1,10,39,...,movie,5,False,True,0,5,49,2560,['IN'],"Action,Drama,Romance"
16429,Ator l'invincibile,"(3, 4]",1982,\N,\N,0.0,3011,1,10,52,...,movie,0,False,True,0,26,58,3012,['IT'],"Action,Adventure,Fantasy"
16430,Anniversary Night,"(9, 10]",2022,\N,\N,0.0,9,1,10,7,...,short,0,False,True,0,1,0,9,['IN'],"Drama,Short"

In [3]:
df['countryOfOrigin'] = og_df['countryOfOrigin']

In [4]:
train = df
test = pd.read_csv('pp_test.csv')
og_test = pd.read_csv('dm1_dataset_2425_imdb/test.csv')
test['countryOfOrigin'] = og_test['countryOfOrigin']
test

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,is_from_North America,countryOfOrigin,countryOfOrigin_freq_enc,countryOfOrigin_NA,countryOfOrigin_AF,countryOfOrigin_AS,countryOfOrigin_EU,countryOfOrigin_OC,countryOfOrigin_SA,countryOfOrigin_UNK
0,Geologist of Animal Collective Performs Live a...,10,2015,2015.0,21.0,0.0,15,7,2,11,...,1,['US'],0.397061,1,0,0,0,0,0,0
1,Shan gou 1999,5,1999,1999.0,NaN,0.0,304,10,0,40,...,0,['HK'],0.007848,0,0,1,0,0,0,0
2,The Craftsman: Preserving the Last Higgins Boat,9,2023,2023.0,NaN,0.0,10,2,0,6,...,1,['US'],0.397061,1,0,0,0,0,0,0
3,Week 3: Tuesday,7,2020,2020.0,NaN,0.0,11,0,0,52,...,0,['GB'],0.098792,0,0,0,1,0,0,0
4,Traumhaus,6,1999,1999.0,90.0,0.0,145,2,0,44,...,0,['DE'],0.027940,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5473,Parasiz yasamak pahali,8,1994,1994.0,141.0,0.0,45,1,0,12,...,0,['TR'],0.010408,0,0,1,0,0,0,0
5474,Wedding Bell Blues,7,1994,1994.0,22.0,0.0,19,17,0,35,...,1,['US'],0.397061,1,0,0,0,0,0,0
5475,O anthropos pou to 'paize poly!,4,1983,1983.0,85.0,0.0,14,1,0,30,...,0,['GR'],0.006401,0,0,0,1,0,0,0
5476,Above Average Presents,7,2012,NaN,NaN,0.0,111,56,0,992,...,1,['US'],0.397061,1,0,0,0,0,0,0
5477,Omae wa mada Gunma wo shiranai,5,2017,2017.0,30.0,0.0,11,1,0,17,...,0,['JP'],0.047086,0,0,1,0,0,0,0

In [5]:
# train.to_csv('pp_train.csv', index=False)
# test.to_csv('pp_test.csv', index=False)

In [6]:
test.columns

Index(['originalTitle', 'rating', 'startYear', 'endYear', 'runtimeMinutes',
       'awardWins', 'numVotes', 'totalImages', 'totalVideos', 'totalCredits',
       'criticReviewsTotal', 'titleType', 'awardNominationsExcludeWins',
       'canHaveEpisodes', 'isAdult', 'numRegions', 'userReviewsTotal',
       'is_Western', 'is_Thriller', 'is_Horror', 'is_Animation', 'is_Family',
       'is_News', 'is_Sport', 'is_Reality-TV', 'is_Biography', 'is_Sci-Fi',
       'is_Fantasy', 'is_Documentary', 'is_Talk-Show', 'is_Drama', 'is_Music',
       'is_Game-Show', 'is_Adventure', 'is_Romance', 'is_Mystery', 'is_Short',
       'is_Action', 'is_Adult', 'is_History', 'is_Musical', 'is_Crime',
       'is_Film-Noir', 'is_War', 'is_Comedy', 'fill_runtimeMinutes',
       'is_from_South America', 'is_from_Oceania', 'is_from_Europe',
       'is_from_Asia', 'is_from_Africa', 'is_from_North America',
       'countryOfOrigin', 'countryOfOrigin_freq_enc', 'countryOfOrigin_NA',
       'countryOfOrigin_AF', 'countryOfOrigin_AS', 'countryOfOrigin_EU',
       'countryOfOrigin_OC', 'countryOfOrigin_SA', 'countryOfOrigin_UNK'],
      dtype='object')

In [1]:
from support.df_init import init

train = init()
test = init('pp_test.csv')

In [2]:
# from support.countries_handling import init_countries_trn_tst

# train, test = init_countries_trn_tst(train, test)

In [3]:
# train.columns

In [4]:
# train['countryOfOrigin_freq_enc'].unique()

In [5]:
# train.to_csv('pp_train.csv', index=False)
# test.to_csv('pp_test.csv', index=False)

In [6]:
from support.imputation import impute_runtime_minutes

imputer = impute_runtime_minutes(train)
train['fill_runtimeMinutes_Bruno'] = imputer(train)
train['fill_runtimeMinutes_Bruno'].unique()

videoGame

array([2.90e+01,      nan, 9.40e+01, 3.00e+01, 8.00e+01, 3.40e+01,
       4.50e+01, 6.50e+01, 1.20e+01, 5.20e+01, 4.40e+01, 6.00e+01,
       9.00e+01, 8.20e+01, 2.10e+01, 1.22e+02, 3.10e+01, 1.70e+01,
       1.00e+00, 2.30e+01, 9.30e+01, 5.70e+01, 7.40e+01, 8.50e+01,
       8.30e+01, 7.50e+01, 7.80e+01, 2.80e+01, 1.84e+02, 7.90e+01,
       2.50e+01, 1.00e+01, 1.08e+02, 4.00e+01, 3.60e+01, 9.80e+01,
       8.40e+01, 1.10e+02, 4.80e+01, 5.00e+01, 8.90e+01, 4.20e+01,
       7.10e+01, 4.00e+00, 4.30e+01, 4.10e+01, 6.00e+00, 1.01e+02,
       7.70e+01, 1.40e+01, 1.60e+01, 9.60e+01, 7.00e+00, 2.40e+01,
       3.00e+00, 9.20e+01, 2.60e+01, 1.05e+02, 2.00e+01, 8.00e+00,
       4.90e+01, 1.50e+01, 2.20e+01, 1.43e+02, 1.10e+01, 4.70e+01,
       9.70e+01, 4.60e+01, 6.20e+01, 5.10e+01, 1.00e+02, 2.70e+01,
       8.60e+01, 5.80e+01, 3.50e+01, 9.50e+01, 1.03e+02, 7.20e+01,
       1.80e+01, 6.90e+01, 3.90e+01, 8.70e+01, 9.90e+01, 5.90e+01,
       6.40e+01, 5.40e+01, 6.80e+01, 1.85e+02, 6.70e+01, 1.26e+02,
       9.10e+01, 1.18e+02, 1.04e+02, 1.14e+02, 8.80e+01, 1.06e+02,
       1.37e+02, 6.60e+01, 2.40e+02, 9.00e+00, 1.17e+02, 7.00e+01,
       3.20e+01, 1.20e+02, 1.15e+02, 1.42e+02, 7.30e+01, 1.11e+02,
       1.30e+01, 1.34e+02, 1.28e+02, 1.02e+02, 5.50e+01, 7.60e+01,
       1.09e+02, 1.39e+02, 1.07e+02, 5.28e+02, 2.00e+00, 5.30e+01,
       1.66e+02, 1.90e+01, 5.00e+00, 5.60e+01, 1.80e+02, 1.46e+02,
       1.32e+02, 2.20e+02, 8.10e+01, 1.73e+02, 3.00e+02, 1.23e+02,
       1.68e+02, 1.55e+02, 1.53e+02, 1.19e+02, 6.30e+01, 1.78e+02,
       1.30e+02, 1.49e+02, 1.75e+02, 1.65e+02, 6.00e+02, 1.13e+02,
       1.12e+02, 1.40e+02, 1.69e+02, 3.30e+01, 1.33e+02, 4.20e+02,
       1.31e+02, 1.29e+03, 1.24e+02, 1.25e+02, 1.54e+02, 1.36e+02,
       2.47e+02, 1.45e+02, 1.90e+02, 1.82e+02, 1.51e+02, 1.35e+02,
       1.52e+02, 1.74e+02, 6.10e+01, 1.83e+02, 1.44e+02, 3.28e+02,
       1.38e+02, 1.58e+02, 2.28e+02, 3.70e+01, 1.27e+02, 1.60e+02,
       3.80e+01, 1.21e+02, 3.10e+02, 1.59e+02, 3.84e+02, 1.50e+02,
       1.76e+02, 1.86e+02, 2.10e+02, 1.98e+02, 2.25e+02, 2.63e+02,
       2.41e+02, 2.05e+02, 1.64e+02, 2.50e+02, 2.00e+02, 1.56e+02,
       1.72e+02, 1.95e+02, 1.16e+02, 2.70e+02, 1.29e+02, 1.61e+02,
       1.87e+02, 3.52e+02, 1.88e+02, 2.76e+02, 3.90e+02, 4.71e+02,
       1.67e+02, 3.09e+02, 1.70e+02, 5.40e+02, 5.20e+02, 2.21e+02,
       2.49e+02, 5.70e+02, 4.38e+02, 1.57e+02, 2.91e+02, 1.62e+02,
       1.93e+02, 2.11e+02, 3.12e+02, 1.47e+02, 1.41e+02, 1.81e+02,
       1.99e+02, 2.60e+02, 3.82e+02, 2.04e+02, 2.07e+02, 4.00e+02,
       3.48e+02, 0.00e+00, 1.48e+02, 3.67e+02, 3.38e+02, 2.80e+02,
       1.71e+02, 1.63e+02, 2.15e+02, 3.45e+02, 3.00e+03, 1.89e+02,
       1.91e+02, 3.57e+02, 3.96e+02, 2.08e+02])

In [7]:
test['fill_runtimeMinutes_Bruno'] = imputer(test)
test['fill_runtimeMinutes_Bruno'].unique()

videoGame

array([2.10e+01, 1.00e+02, 6.80e+01, 3.00e+01, 9.00e+01, 8.10e+01,
       2.30e+01, 1.29e+02, 9.60e+01, 1.00e+00, 9.10e+01, 8.40e+01,
       7.90e+01, 6.00e+01, 8.90e+01, 9.30e+01, 1.42e+02, 1.50e+01,
       1.01e+02, 9.70e+01, 2.50e+01, 8.30e+01, 2.20e+01, 6.70e+01,
       1.60e+02, 1.08e+02, 9.40e+01, 1.02e+02, 3.40e+01, 5.00e+01,
       1.05e+02, 2.60e+01, 7.00e+01, 4.50e+01, 3.00e+00, 1.70e+01,
       4.20e+01, 9.90e+01, 5.20e+01, 8.80e+01,      nan, 9.80e+01,
       5.90e+01, 8.70e+01, 5.70e+01, 1.00e+01, 4.10e+01, 3.10e+01,
       6.00e+00, 1.10e+01, 9.50e+01, 1.28e+02, 2.04e+02, 1.40e+01,
       2.90e+01, 4.60e+01, 8.50e+01, 1.80e+01, 1.20e+01, 4.40e+01,
       4.70e+01, 1.22e+02, 4.00e+00, 9.20e+01, 8.20e+01, 4.90e+01,
       1.30e+01, 1.17e+02, 1.60e+01, 7.20e+01, 7.40e+01, 1.19e+02,
       1.40e+02, 7.50e+01, 1.15e+02, 2.80e+01, 7.60e+01, 7.30e+01,
       7.70e+01, 6.90e+01, 5.00e+00, 1.30e+02, 1.68e+02, 4.00e+01,
       5.30e+01, 1.03e+02, 7.00e+00, 1.44e+02, 1.49e+02, 2.40e+01,
       8.00e+00, 9.00e+00, 8.00e+01, 1.10e+02, 1.36e+02, 2.00e+01,
       8.60e+01, 4.30e+01, 5.10e+01, 3.50e+01, 1.69e+02, 2.00e+02,
       1.11e+02, 2.00e+00, 1.20e+02, 1.90e+01, 6.20e+01, 1.56e+02,
       1.32e+02, 1.07e+02, 5.50e+01, 6.10e+01, 4.00e+02, 1.27e+02,
       6.40e+01, 1.31e+02, 6.50e+01, 1.80e+02, 2.70e+01, 1.09e+02,
       5.40e+02, 1.24e+02, 7.10e+01, 1.12e+02, 3.20e+01, 4.80e+01,
       1.18e+02, 6.30e+01, 3.30e+01, 5.80e+01, 1.54e+02, 2.37e+02,
       1.38e+02, 1.43e+02, 1.23e+02, 7.80e+01, 5.60e+01, 3.70e+01,
       3.80e+01, 6.60e+01, 5.40e+01, 1.50e+02, 3.90e+01, 1.90e+02,
       1.48e+02, 1.26e+02, 1.04e+02, 1.64e+02, 1.14e+02, 1.21e+02,
       1.35e+02, 1.53e+02, 2.70e+02, 1.33e+02, 1.13e+02, 1.06e+02,
       1.25e+02, 1.16e+02, 3.60e+01, 2.12e+02, 3.60e+02, 2.48e+02,
       1.51e+02, 4.20e+02, 1.41e+02, 1.57e+02, 1.55e+02, 1.45e+02,
       1.66e+02, 2.60e+02, 2.34e+02, 1.70e+02, 1.34e+02, 1.37e+02,
       1.39e+02, 1.61e+02, 4.65e+02, 1.85e+02, 1.63e+02, 1.83e+02,
       1.74e+02, 3.00e+02, 1.91e+02, 1.47e+02, 1.78e+02, 3.10e+02,
       2.40e+02, 1.73e+02, 4.80e+02, 1.05e+03, 3.20e+02, 3.02e+02,
       1.72e+02, 2.25e+02, 1.46e+02, 1.71e+02, 2.07e+02, 1.81e+02,
       5.10e+02])

In [ ]:
# train.to_csv('pp_train.csv', index=False)
# test.to_csv('pp_test.csv', index=False)

In [1]:
# from support.df_init import init

# df = init()
# df
import pandas as pd

df = pd.read_csv('pp_train.csv')
df

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,totalImages,totalVideos,totalCredits,...,countryOfOrigin,countryOfOrigin_freq_enc,countryOfOrigin_NA,countryOfOrigin_AF,countryOfOrigin_AS,countryOfOrigin_EU,countryOfOrigin_OC,countryOfOrigin_SA,countryOfOrigin_UNK,fill_runtimeMinutes_Bruno
0,Neogenic Nightmare Chapter 3: Hydro-Man,8,1995,1995.0,NaN,0.0,779,1,0,21,...,['US'],0.397061,1,0,0,0,0,0,0,29.0
1,Looping,6,1982,1982.0,NaN,0.0,11,1,0,1,...,['XWG'],0.013525,0,0,0,0,0,0,1,NaN
2,Idealnaya para,6,1992,1992.0,NaN,0.0,38,1,0,24,...,['RU'],0.007959,0,0,0,1,0,0,0,94.0
3,MasterChef Celebrity México,6,2021,NaN,NaN,0.0,15,22,0,56,...,['MX'],0.013636,1,0,0,0,0,0,0,30.0
4,Seutateueob,8,2020,2020.0,80.0,1.0,15718,347,2,47,...,['KR'],0.009184,0,0,1,0,0,0,0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16426,Caprices,6,1942,1942.0,NaN,0.0,73,4,0,45,...,['FR'],0.045973,0,0,0,1,0,0,0,85.0
16427,Haar Jeet,5,1990,1990.0,NaN,0.0,15,2,0,22,...,['IN'],0.034285,0,0,1,0,0,0,0,86.0
16428,Kotigobba 3,6,2021,2021.0,140.0,0.0,2560,39,3,129,...,['IN'],0.034285,0,0,1,0,0,0,0,140.0
16429,Ator l'invincibile,4,1982,1982.0,NaN,0.0,3011,52,1,53,...,['IT'],0.023488,0,0,0,1,0,0,0,94.0
16430,Anniversary Night,10,2022,2022.0,NaN,0.0,9,7,0,19,...,['IN'],0.034285,0,0,1,0,0,0,0,9.0

In [2]:
df.columns

Index(['originalTitle', 'rating', 'startYear', 'endYear', 'runtimeMinutes',
       'awardWins', 'numVotes', 'totalImages', 'totalVideos', 'totalCredits',
       'criticReviewsTotal', 'titleType', 'awardNominationsExcludeWins',
       'canHaveEpisodes', 'isAdult', 'numRegions', 'userReviewsTotal',
       'is_Documentary', 'is_History', 'is_Adventure', 'is_Thriller',
       'is_Game-Show', 'is_Comedy', 'is_Sci-Fi', 'is_Romance', 'is_Biography',
       'is_Musical', 'is_Western', 'is_Music', 'is_Film-Noir', 'is_Adult',
       'is_Reality-TV', 'is_News', 'is_Action', 'is_Crime', 'is_Short',
       'is_Fantasy', 'is_Family', 'is_Mystery', 'is_Talk-Show', 'is_Drama',
       'is_Sport', 'is_War', 'is_Horror', 'is_Animation',
       'fill_runtimeMinutes', 'is_from_Oceania', 'is_from_North America',
       'is_from_South America', 'is_from_Asia', 'is_from_Africa',
       'is_from_Europe', 'countryOfOrigin', 'countryOfOrigin_freq_enc',
       'countryOfOrigin_NA', 'countryOfOrigin_AF', 'countryOfOrigin_AS',
       'countryOfOrigin_EU', 'countryOfOrigin_OC', 'countryOfOrigin_SA',
       'countryOfOrigin_UNK', 'fill_runtimeMinutes_Bruno'],
      dtype='object')

In [4]:
df.loc[(df['is_Short'] == 1) & (df['canHaveEpisodes'] == 1), 'titleType']

1344         tvSeries
1402         tvSeries
3582         tvSeries
3759         tvSeries
3980         tvSeries
4401     tvMiniSeries
4814         tvSeries
5091         tvSeries
6160         tvSeries
8829         tvSeries
10348    tvMiniSeries
10844        tvSeries
11105    tvMiniSeries
11478        tvSeries
12483        tvSeries
Name: titleType, dtype: object