### Nei generi non gestisce i Nan values -> nel file missing_handlings c'è la versione giusta

In [11]:
import pandas as pd
import numpy as np

In [12]:
complete_df = pd.read_csv("complete_df.csv")

"Country of origin" values transormed from string to list

In [13]:
import ast

complete_df['countryOfOrigin'] =complete_df['countryOfOrigin'].apply(ast.literal_eval)

print(complete_df['countryOfOrigin'].apply(lambda x: [type(genre) for genre in x]))

0        [<class 'str'>]
1        [<class 'str'>]
2        [<class 'str'>]
3        [<class 'str'>]
4        [<class 'str'>]
              ...
21904    [<class 'str'>]
21905    [<class 'str'>]
21906    [<class 'str'>]
21907    [<class 'str'>]
21908    [<class 'str'>]
Name: countryOfOrigin, Length: 21909, dtype: object

In [14]:
#quanti hanno solo "DE"
count=0
for r in complete_df["countryOfOrigin"]:
    if len(r) == 1 and r[0]== "DE":
        count +=1

count

518

In [15]:
#quanti hanno "DE" tra gli elementi
count2=0
for r in complete_df["countryOfOrigin"]:
    for i in range(len(r)):
        if "DE" in r:
            count2 +=1

count2

987

In [16]:
val = complete_df.loc[9,"countryOfOrigin"]
type(val)
val

['IN']

"Genres" values transormed from string to list

In [17]:
### non gestisce i Nan values -> nel file missing_handlings c'è la versione giusta

In [18]:

complete_df["genres"] = complete_df["genres"].str.split(',')

print(complete_df['genres'].apply(lambda x: [type(genre) for genre in x]))
complete_df["genres"].head()

0        [<class 'str'>, <class 'str'>, <class 'str'>]
1                                      [<class 'str'>]
2                                      [<class 'str'>]
3                                      [<class 'str'>]
4        [<class 'str'>, <class 'str'>, <class 'str'>]
                             ...
21904                                  [<class 'str'>]
21905    [<class 'str'>, <class 'str'>, <class 'str'>]
21906                                  [<class 'str'>]
21907                                  [<class 'str'>]
21908                                  [<class 'str'>]
Name: genres, Length: 21909, dtype: object

0    [Action, Adventure, Animation]
1                          [Action]
2                          [Comedy]
3                      [Reality-TV]
4          [Comedy, Drama, Romance]
Name: genres, dtype: object

In [19]:
val = complete_df.loc[4,"genres"]
type(val)
val

['Comedy', 'Drama', 'Romance']

In [20]:

count=0
for r in complete_df["genres"]:
    if len(r) == 1 and r[0]== "Comedy":
        count +=1

count

1802

In [21]:
count2=0
for r in complete_df["genres"]:
    for i in range(len(r)):
        if "Comedy" in r:
            count2 +=1

count2

13616